* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  /* background-color: #283149; */
  background-image: url(/images/20220414-220801.png);
  /* background-repeat: no-repeat; */
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.cont {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 0;
  padding: 20px;
  margin-top: 50px;
  /* border-radius: 45%; */
  background-color: rgba(30, 10, 20, 0.3);
  /* background: linear-gradient:(scroll, r);
  hsl(240, 6%, 50%), hsl(14, 78%, 18%) */
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.w {
  background-image: url(/images/tom1.png);
}

.a {
  background-image: url(/images/tom2.png);
}

.s {
  background-image: url(/images/tom3.png);
}

.d {
  background-image: url(/images/tom4.png);
}

.j {
  background-image: url(/images/snare.png);
}

.k {
  background-image: url(/images/crash.png);
}

.l {
  background-image: url(/images/kick.png);
}

.set {
  display: flex;
  justify-content: center;
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 4px 5px 0 #dbedf3;
  opacity: 0.3;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;

  line-height: 2;
  font-weight: 900;
  color: goldenrod;
  text-shadow: 3px 0 brown;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  opacity: rgba(0, 0, 0, 0.9);
}

footer {
  background-color: black;
}
@media (max-width: 1154px) {
  body {
    background-size: cover;
  }
  h1 {
    display: flex;
    flex-wrap: nowrap;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 50px;
    /* border-radius: 11%; */
    inline-size: 50%;
    margin-left: 25%;
  }
  .set {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
  .inner-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
  }
}
